<div class="row">

  <%= render 'concordance_list' %>

  <div class="span10">
    <div class="start_letter_vachana_list">
      <%= render "author_list" %>
    </div>
  </div>

</div>

ನಾರಾಯಣ ಗುರು ಸಂಪೂರ್ಣ ಕೃತಿಗಳು

ಕನ್ನಡಕ್ಕೆ:
ವಿನಯ ಚೈತನ್ಯ

(ಎಚ್.ಎಸ್. ಶಿವಪ್ರಕಾಶ್ ಹಾಗು ಮನು ವಿ. ದೇವದೇವನ್
ಅವರ ನೆರವಿನೊಂದಿಗೆ)



